<!--<div class="container">-->
<!--  <div class="row justify-content-center">-->
<!--    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>-->
      <!--<header>-->
      <!--<div class="btn-wrapper col-10 mx-auto">-->


      <!--</header>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!-- homes/top.html.erb <div class="row">--!>